:root {
  --main-bg-color: #f0f8ff;
  --main-text-color: #333;
  --income-color: green;
  --expense-color: red;
  --summer-theme: #ffcb77; /* cor temática de verão */
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 8px;
}

.input-group {
  display: flex;
  gap: 20px; /* Espaçamento entre os campos */
  margin-bottom: 20px; /* Espaçamento inferior */
}

input, select, button {
  padding: 10px;
  width: 100%;
  max-width: 200px; /* Limita a largura dos inputs */
  box-sizing: border-box;
}

button {
  background-color: var(--summer-theme);
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ffa500; /* cor mais escura ao passar o mouse */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

canvas {
  max-width: 600px;
  margin: 20px auto;
}
